*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  align-content: center;
}

body{
    background-color: cadetblue;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1px;
    
}  
.content{
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

 .dropbtn{
    background-color: cadetblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 5px black;
    float: left;
  }

  
  
  /* .dropdown{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: crimson;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
  }
  
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: wheat;
    }
  
  
  .dropdown:hover .dropdown-content{
      display: block;
    }
    
  .dropdown:hover .dropbtn{
      background-color: aqua;
    }
    /* .dropdown{
      float: right;
    } */
    nav{
      margin: 0 auto;
      padding: 10px 0;
      margin-right: 0%;
      text-underline-position: below;
      color:black;
   }
   nav>ul{
     text-align:center;
     background-color: aqua;
   }
   nav>ul>li{display:inline-block;}
   nav>ul>li>a{
   padding: 10px;
   margin-right: 0;
   text-transform: uppercase;
   text-decoration: none;
   display: block;
   color: black;
   background-color: gray;
   }
   nav>ul>li>a:hover{
       background-color: aqua;
       color: black;
   }
     .appartments h1{
    text-align: right;
    }
    footer{
      background-color: wheat;
      display: flex;
      justify-content: space-around;
      margin-left: 0.5%;
      margin-right: 0.5%;
      font-weight: bold;
      font-size: 18px;
      box-shadow:3px 3px 5px rgb(2, 5, 48);
  }
  #foot{
      padding: 25px;
  }
  footer>p{
      padding: 25px;
      text-align: end;
  }





/* .review{
  font-size: x-large;
  font-style: italic;
  text-align: right;
  color: black;
  float: right;
  margin-right: 10px;
} */
.review{
  float: right;
}
.review h7{
  font-weight: bolder;
  font-size: x-large;
  color: #4C82AF;
}





























