header{
background-image: url(Images/apartment.jpg);
background-size: cover;
height: 100%;
background-position: top;
}
/* Remove bullets from the navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
    text-underline-position: below;
    color:black;
 }
 nav>ul{
   text-align:center;
   background-color: aqua;
 }
 nav>ul>li{display:inline-block;}
 nav>ul>li>a{
 padding: 10px;
 margin-right: 0;
 text-transform: uppercase;
 text-decoration: none;
 display: block;
 color: black;
 background-color: gray;
 }
 nav>ul>li>a:hover{
     background-color: aqua;
     color: black;
 }
  
  /* Add a color to the active/current link */
  nav>ul>li>a:active {
    background-color: #4c82af;
    color: white;
  }
h1{
    text-align: center;
    font-size: xx-large;
    color: rgb(2, 6, 59);
}
.home{
    margin-top:27%;
    display: flex;
    border-left: cadetblue;
    box-shadow: rgb(0, 0, 0);
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


h2{
    background:aqua;
    color: rgb(0, 0, 0);
    box-shadow: whitesmoke;
    text-align: center;
}
.intro{
    width: 30%;
    margin: 1%;
    color: rgb(0, 0, 0);
    background-image: url(Images/background.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.intro>p{
    margin: 15px;
}
.products{
    width: 50%;
    margin: 1%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.products{
    margin: 20px;
}
.products>ul>li{
    padding: 5px;
    color: rgb(0, 0, 0);
}
.products a{
    color: orange;
}
.products a:hover{
    color: orangered;
}
.products a:active{
    color: aqua;
}
.join{
    width: 25%;
    margin: 1%;
    color: rgb(0, 0, 0);
}
/* .tenant, .landlord {
    text-align: justify;
    justify-content: space-evenly;
    padding: 1%;
    background-color:aqua;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 5px;

} */
br{
    padding: 5px;
}
.landlord, .tenant{
    margin-left: 5px;
    text-align: justify;
    align-items: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: black;
}
input{
    color: rgb(255, 255, 255);
    padding: 7px;
    background-color: rgb(6, 22, 167);
    text-align: center;
    font-size: 18px;
    box-shadow: 3px 3px 5px aqua;
    border-radius: 30%;
    border: 2px solid white;
}
/* .landlord>label>input{
    padding-top: 5px;
} */
footer{
    display: flex;
    justify-content: space-around;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-weight: bold;
    font-size: 18px;
    box-shadow:3px 3px 5px rgb(2, 5, 48);
}
#foot{
    padding: 25px;
}
footer>p{
    padding: 25px;
    text-align: end;
}